/* .card{
  justify-content: center;
  background-color: white;
  max-width: 100%;
  position: relative;
  align-items: center;
} */

.filter{
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  position: relative;
  align-items: center;
}

/* .filterBody{
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
} */

/* .cardBody{
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
} */

.cardDivider{
  transform: rotateZ(90deg);
  width: 32px;
  height: 0.1px;
}

.cardButton{
  margin-right: 20px;
  color: rgb(172 170 170);
  background-color: rgb(237 237 237);
}

.bottomDivider{
  position: absolute;
  bottom: 10px;
  width: 96%;
}

@media (min-width: 390px) and (max-width: 960px){
  .cardBody{
    flex-direction: column;
  }
  .cardDivider{
    display: none;
  }
  .cardButton{
    margin-bottom: 10px;
  }
}

